/* ---------MAIN--------- */
@media (max-width: 1282px) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media (max-width: 1158px) {
    .section__wrapper {
        gap: 48px;
    }
}

@media (max-width: 1024px) {
    .section__wrapper {
        gap: 28px;
    }
}

@media (max-width: 782px) {
    .section__wrapper {
        gap: 28px;
    }
}

@media (max-width: 610px) {
    .description__title, .section__title {
        font-size: 24px;
        line-height: 28px;
    }

    .description__text, .section__text, .slider__text {
        font-size: 12px;
        line-height: 18px;
    }

    .section {
        padding-bottom: 41px;
    }

    .section__title, .description__title {
        margin-bottom: 12px;
    }

    .section__text, .section__title {
        padding-left: 30px;
    }

    .section__title {
        padding-right: 20px;
    }

    .slider__row {
        margin-bottom: 7px;
    }
}

@media (max-width: 576px) {
    .description {
        width: 320px;
    }
}

@media (max-width: 468px) {
    .slider {
        width: 100%;
    }

    .description__text, .section__text, .slider__text {
        padding-right: 20px;
    }

    .section__description--projects {
        margin-bottom: 12px;
    }
}

/* /////////MAIN--------- */



/* ------------HEADER------------- */
/* 106*30 */
@media (max-width: 476px) {
    .header {
        padding: 23px 15px 25px 20px;
    }

    .change-lang {
        display: none;
    }

    .logo {
        width: 106px;
    }

    .logo__img {
        width: 100%;
    }
}

/* ////////////HEADER------------- */

/*------------ section--who-are-we------------- */
@media (max-width: 1158px) {
    .section__img-wrap {
        max-width: 920px;
        margin-left: -310px;
    }
}

@media (max-width: 1100px) {
    .section__img-wrap {
        margin-left: -370px;
    }
}

@media (max-width: 1024px) {
    .section--who-are-we {
        flex-direction: column-reverse;
        align-items: start;
    }

    .section__img-wrap {
        margin-left: auto;
        width: 80%;
    }

    .description--who-are-we {
        margin-top: -30%;
    }
}

@media (max-width: 782px) {
    .description--who-are-we {
        margin-top: -30%;
        width: 500px;
    }
}

@media (max-width: 610px) {
    .section--who-are-we {
        padding-top: 0;
        padding-bottom: 10px
    }

    .description--who-are-we {
        width: 400px;
        padding: 10px 8px 26px 20px;
    }
}

@media (max-width: 576px) {
    .description--who-are-we {
        width: 320px;
    }
}

@media (max-width: 468px) {
    .description--who-are-we {
        width: 281px;
        margin-top: -40px;
    }

    .section__img-wrap {
        width: 280px;
    }
}


/* ////////////section--who-are-we------------- */
/* ------------section--projects--------------- */
@media (max-width: 1158px) {
    .slider__img {
        max-width: 920px;
        margin-right: -310px;
    }

    .slider__description {
        width: 550px;
        margin-left: 0;
    }
}

@media (max-width: 1100px) {
    .slider__img {
        margin-right: -360px;
    }
}

@media (max-width: 1024px) {
    .slider__slide {
        flex-direction: column;
        align-items: start;
    }

    .slider__img {
        margin-right: auto;
        width: 80%;
    }

    .slider__description {
        margin-top: -30%;
        margin-left: auto;
    }

    .slider__arrows {
        bottom: 40px;
    }
}

@media (max-width: 782px) {
    .slider__description {
        width: 500px;
    }
}

@media (max-width: 610px) {
    .section--projects {
        padding-top: 0;
        padding-bottom: 48px;
    }

    .slider__description {
        width: 400px;
        padding: 30px 20px 40px 45px;
    }

    .slider__arrows {
        bottom: 16px;
    }
}

@media (max-width: 576px) {
    .slider__description {
        width: 320px;
        padding: 6px 20px 11px 20px;
    }
}

@media (max-width: 468px) {
    .slider__description {
        width: 281px;
        margin-top: -30px;
    }

    .section__description--projects {
        margin-bottom: 12px;
    }

    .slider__img {
        width: 280px;
    }

    .slider__title {
        font-size: 14px;
        margin-bottom: 5px;
    }

    .slider {
        margin-bottom: 6px;
    }
}

/* ////////////section--projects--------------- */

/* ----------- section--now------------------- */

@media (max-width: 1282px) {
    .section__img-wrap--feature-list {
        margin-left: -172px;
        width: 100%;
    }
}

@media (max-width: 1100px) {
    .section__img-wrap--feature-list {
        margin-left: -370px;
    }
}

@media (max-width: 1024px) {
    .feature-list {
        margin-right: auto;
        margin-bottom: -395px;
    }

    .section__img-wrap--feature-list {
        margin-left: auto;
    }

    .section__wrapper--feature-list {
        flex-direction: column;
    }
}

@media (max-width: 782px) {
    .section__description--section-now {
        margin-bottom: 180px;
    }

    .feature-list {
        margin-bottom: -260px;
    }

    .digit {
        flex-direction: column;
    }
}

@media (max-width: 610px) {
    .digit {
        gap: 0;
    }

    .digit__block {
        width: 82px;
    }

    .digit__title {
        font-size: 12px;
        line-height: 18px;
    }

    .digit__numbers {
        font-size: 36px;
        line-height: 25px;
        margin-bottom: 7px;
    }

    .digit__numbers-description {
        font-size: 12px;
        line-height: 18px;
        margin-left: 0;
    }

    .digit__description {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 10px;
    }

    .section__title--now {
        margin-bottom: 14px;
        padding-left: 17px;
    }

    .section__text--section-now {
        padding-right: 0;
        padding-left: 18px;
    }

    .feature-list {
        font-size: 12px;
        line-height: 18px;
        padding: 25px 26px 19px 14px;
    }

    .section__description--section-now {
        margin-bottom: 354px;
    }

    .feature-list {
        width: 400px;
    }

    .feature-list__item::before {
        width: 12px;
        height: 1px;
        top: 9px;
        left: 5px;
    }

    .feature-list__item {
        margin-bottom: 8px;
    }

    .section__img-wrap--feature-list {
        width: 93%;
    }


}

@media (max-width: 576px) {
    .feature-list {
        margin-bottom: -181px;
    }
}



@media (max-width: 468px) {
    .section__wrapper--feature-list {
        width: 100%;
    }

    .section__description--section-now {
        margin-bottom: -3px
    }

    .feature-list {
        margin-bottom: -181px;
    }

    .feature-list {
        width: 280px;
        margin-bottom: -55px;
    }
}

/* /////////// section--now------------------- */

/* ----------section--work-with-staff-------- */
@media (max-width: 610px) {
    .slider--work-with-staff {
        width: 90%;
        margin-left: 19px;
    }

    .slider__slide--work-with-staff {
        padding: 16px 20px 40px 20px;
        min-height: 524px;
    }

    .slider__row {
        gap: 6px;
    }

    .slider__row-seven {
        display: none;
    }

    .slider__row-eight {
        display: none;
    }

    .section__title--work-with-staff {
        padding-right: 22px;
        padding-left: 18px;
        margin-bottom: 26px;
    }

    .section--work-with-staff {
        padding-bottom: 46px;
    }

    .swiper-pagination {
        display: flex;
        top: 119px;
        bottom: auto !important;
    }

    .swiper-pagination--work-with-staff {
        top: auto;
        bottom: 12px !important;
    }

}

@media (max-width: 576px) {
    .slider__arrows {
        display: none;
    }


}

@media (max-width: 335px) {
    .slider--work-with-staff {
        width: 280px;
    }
}

/* //////////section--work-with-staff-------- */

/* ---------section--offers-to-employees---- */
@media (max-width: 1158px) {
    .feature-list--slider--offers-to-employees {
        width: 550px;
        margin-left: 0;
    }
}

@media (max-width: 1024px) {
    .feature-list--slider--offers-to-employees {
        margin-top: -30%;
        margin-left: auto;
        margin-right: 0;
    }
}

@media (max-width: 782px) {
    .feature-list--slider--offers-to-employees {
        width: 500px;
    }
}

@media (max-width: 610px) {
    .section__title--offers-to-employees {
        padding-top: 0;
    }

    .feature-list--slider--offers-to-employees {
        width: 400px;
        padding: 30px 20px 40px 45px;
    }

    .slider__img--offers-to-employees {
        margin-top: 16px;
    }

    .swiper-pagination--offers-to-employees {
        top: 158px;
    }
}

@media (max-width: 576px) {
    .feature-list--slider--offers-to-employees {
        width: 320px;
        padding: 30px 20px 40px 15px;
    }
}

@media (max-width: 468px) {
    .feature-list--slider--offers-to-employees {
        width: 280px;
        margin-top: -40px;
    }
}

/* /////////section--offers-to-employees---- */

/* -----------------lines------------------ */
@media (max-width: 576px) {
    .logo::after {
        border-width: 1px;
    }

    .section__img-wrap::before {
        border-width: 1px;
        top: 0px;
        left: -10px;
    }

    .section__text--projects-line::before {
        border-width: 1px;
        left: 10px;
    }

    .section__text--projects-line-bottom-right::before {
        border-width: 1px;
        top: -211%;
        left: 10px;
    }

    .section__img-wrap--feature-list::after {
        border-width: 0;
        top: -347px;
        right: calc(100% + 10px);
    }

    .section__img-wrap--feature-list::before {
        border-width: 1px;
        width: 150%;
    }

    .section--offers-to-employees {
        overflow: hidden;
    }

    .section--offers-to-employees::before {
        top: 1px;
        right: calc(80% + 49px);
        border-right: 1px solid #d2c8c8;
        border-top: 1px solid #d2c8c8;
    }

    /* .section {
        overflow: hidden;
    }

    .section--projects {
        /* overflow: visible; */
    /* } */


}

/* /////////////////lines----------------- */